# Original written by Viesturs Zarins

[tool_probe_endstop]
  # seconds to wait before announcing a crash, if the probe stops
  #triggering before this, no crash is reported. 
  crash_mintime: 2
  crash_gcode:
    RESPOND TYPE=error MSG='Tool not detected, expected {printer.toolchanger.tool_number}. Pausing the print.' 
    # TURN_OFF_HEATERS all but bed so print doesn't let go
    # Note we should save the tool temps and auto reheat on RESUME
    {% for tool_nr in printer.toolchanger.tool_numbers %}
      M104 T{tool_nr} S0
    {% endfor %}
